<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
  <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <title>Contacts</title>
</head>
<body>
  <h1>My People</h1>
  <button id ="all-categories"> show all categories </button>
  <button id ="all-contacts"> show all contacts </button>
  <button id ="create-contact"> Create New Contact </button>
  <script type="text/javascript" src="/scripts.js"></script>
  <ul>
  </ul>
</body>
</html>
